<div class="container">
<div class="sidebar">
    <ul>
        <li>Makeup
            <ul>
                <li>Blush</li>
                <li>Concealer</li>
                <li>Eyebrows</li>
                <li>Eyeliner</li>
                <li>Foundation</li>
                <li>Lipstick & Liner</li>
            </ul>
        </li>
        <li>Skin Care
            <ul>
                <li>Cleansers</li>
                <li>Exfoliators & Peels</li>
                <li>Eye Cream & Treatments</li>
                <li>Face Masks</li>
                <li>Face Moisturizers</li>
                <li>Sun Care & Sunscreens</li>
            </ul>
        </li>
        <li>Fragrance
              <ul>
                <li>Candles & Diffusers</li>
                <li>Perfume</li>
            </ul>
        
        </li>
          <li>Hair Care
            <ul>
                <li>Hair & Scalp Treatments</li>
                <li>Hair Styling & Styling Tools</li>
                <li>Shampoos</li>
                <li>Conditioner</li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div>
    <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div>
</div>
</div>