<div class="container">
<div class="sidebar">
    <ul>
        <li>Bedding
            <ul>
                <li>Bedding Basics</li>
                <li>Bedding Collections</li>
                <li>Comforters & Quilts</li>
                <li>Decorative Pillows</li>
                <li>Duvet Covers</li>
                <li>Sheet & Bed Skirts</li>
                <li>Throws & Blankets</li>
            </ul>
        </li>
        <li>Living Room
            <ul>
                <li>Lucury Home Decor</li>
                <li>Accent Furniture</li>
                <li>Art Decor</li>
                <li>Curtains</li>
                <li>Lightinf & Lamps</li>
                <li>Rugs</li>
                <li>Sectional Sofa</li>
            </ul>
        </li>
        <li>Bath
              <ul>
                <li>Bath Acessories</li>
                <li>Rugs & Mats</li>
                <li>Towels</li>
                <li>Shower Curtains</li>
                <li>Totes</li>
                <li>Wallets & Card Cases</li>
            </ul>
        
        </li>
    </ul>
</div>

<div id="content">
</div>
</div>