<div class="container">
<div class="sidebar">
    <ul>
        <li>Clothing
            <ul>
                <li>Activewear</li>
                <li>Coats</li>
                <li>Dress</li>
                <li>Jeans</li>
                <li>Skirts</li>
                <li>Suits</li>
            </ul>
        </li>
        <li>Shoes
            <ul>
                <li>Booties</li>
                <li>Boots</li>
                <li>Comfort</li>
                <li>Heels</li>
                <li>Pumps</li>
                <li>Slippers</li>
            </ul>
        </li>
        <li>Handbags
              <ul>
                <li>Backpacks</li>
                <li>Clutches & Pouches</li>
                <li>Designer Handbags</li>
                <li>Hobo Bags</li>
                <li>Totes</li>
                <li>Wallets & Card Cases</li>
            </ul>
        
        </li>
    </ul>
</div>

<div class="content">
    <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div>
    <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div> <div class="gallary">
        <a target="_blank" href=""><img src="" alt="picture" width="300px" height="400px"></a>
        <div class="discription"> product price, discription here</div>
    </div>
    
</div>
</div>